.range__percent {
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@include mq(991px) {
  .range__percent {
    top: 40%;
  }
}

@include mq(767px) {
  .range__percent {
    
  }
}