.price {
  position: relative;
  background-color: $white;
  padding: 30px 0 20px;
  margin-top: 40px;

  &:hover {
    .price__cost {
      background-color: $dark_blue;
    }
  }
}
@import '__cost/price__cost';
@import '__menu/price__menu';
@import '__item/price__item';