.main-menu__link {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;

  &:after {
    content: "";
    position: absolute;
    color: $blue;
    border-bottom: 1px solid;
    max-width: 100%;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }

  &:hover:after,
  &--active:after {
    width: 35px;
  }

  &:hover,
  &--active {
    color: $blue;
  }

  /*&:hover {
    ~ .submenu {
      top: 96px;
      visibility: visible;
    }
  }*/
}