@include mq(991px) {
  .whychoose__block {
    @include column(6);

    &:nth-of-type(1) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
    }
    &:nth-of-type(2) {

      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      @include column(7);
    }
    &:nth-of-type(3) {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
    }
  }
}