.submenu__link {
  font-size: .9rem;
  display: block;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    color: $blue;
  }
}

.active {
  & > .submenu__link {
    color: $blue;
  }
}