@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,700';

/*@font-face {
  font-family: Raleway;
  src: url('//fonts.googleapis.com/css?family=Raleway:300,700');
}*/

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #fff;
}

.shell-full {
  /*position: relative;*/
  margin-left: auto;
  margin-right: auto;
}

.shell {
  width: 80%;
  /*width: 80vw;*/
  margin: 0 auto;
}

@import 'colors';
@import 'variables';
@import 'reset';
@import 'common/text';
@import 'common/section';
@import 'common/flex-block';
@import 'blocks/button/button';
@import 'blocks/header/header';
@import 'blocks/brand/brand';
@import 'blocks/menu/menu';
@import 'blocks/main-menu/main-menu';
@import 'blocks/submenu/submenu';
@import 'blocks/os-menu/os-menu';
@import 'blocks/list/list';
@import 'blocks/price/price';
@import 'blocks/input/input';
@import 'blocks/social-menu/social-menu';
@import 'blocks/copy/copy';

/*@import 'blocks/section/section';*/
