.range {
  position: relative;
  max-width: 300px;

}

@include mq(991px) {
  .range {
    padding: 0 55px;
  }
}

@include mq(767px) {
  .range {
    padding: 0 20%;
  }
}

@import '__stroke/range__stroke';
@import '__trail/range__trail';
@import '__percent/range__percent';
@import '__chart/range__chart';