.os-menu__item {
  padding: 0 20px 0 0;
  position: relative;

  &:last-child {
    padding: 0;

    &:after {
      display: none;
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 60%;
    color: $dark_blue;
    border: 1px solid;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10px;
  }
}