@include mq(991px) {
  .nav {
    position: absolute;
    left: 0;
    
    &__mobile {
      position: absolute;
      width: 48px;
      height: 48px;
      line-height: 48px;
      left: 0;
      top: 6px;
      z-index: 10;
      background-color: transparent;
    }

    &__toggle {
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      left: 0;
      right: 0;
      margin: auto;
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      -o-transition: transform .3s ease;
      transition: transform .3s ease;
      transition: transform .3s ease, -webkit-transform .3s ease;
      
      &,
      &:before,
      &:after {
        width: 24px;
        height: 4px;
        background-color: $white;
        border-radius: 4px;
        position: absolute;
      }
      &:before,
      &:after {
        content: "";
        left: 0;
        /*transition: top .3s ease;*/
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }

      /*&:after {
        content: "\f0c9";
        font-family: FontAwesome;
        color: $white;
        position: absolute;
      }*/
    }

    &--open {
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg);
      /*transition: transform .3s ease;*/
      /*transition: top .6s ease;*/
      &:before,
      &:after {
        width: 15px;
        top: 0;
        
      }

      &:before {
        -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
                transform-origin: 100% 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        left: 6px;
      }
      &:after {
        -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
                transform-origin: 100% 0;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        left: 9px;
        top: 1px;
      }

    }
  }
}