@include mq(991px) {
  .main-menu {
    display: none;
    position: absolute;
    width: 250px;
    min-width: 150px;
    top: 48px;
    background-color: $black;
    z-index: 500;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    height: calc( 100vh - 50px );
    transition: transform .5s ease;



    &--show {
      display: list-item;
      border-right: 1px solid $black;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
}

@include mq(300px) {
  .main-menu {
    width: 200px;
  }
}

@import '__item/main-menu__item';
@import '__link/main-menu__link';