@include mq(991px) {
  .main-menu {
    display: none;
    position: absolute;
    width: 250px;
    min-width: 150px;
    top: 48px;
    background-color: $black;
    z-index: 500;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    height: calc( 100vh - 50px );
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;



    &--show {
      display: list-item;
      border-right: 1px solid $black;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
    }
  }
}

@import '__item/main-menu__item';
@import '__link/main-menu__link';