.submenu {
  position: absolute;
  margin: 0 10px;
  width: 240px;
  background-color: $black;
  -webkit-transition: top .3s ease;
  -o-transition: top .3s ease;
  transition: top .3s ease;
  visibility: hidden;

  &--level1 {
    top: 296px;
    left: -50%;
    -webkit-transform: translate(20%, 0);
        -ms-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }

  &--next-level {
    top: 60px;
    left: 100%;
  }

  &--open {
    top: 96px;
    visibility: visible;
  }
}

@import '__item/submenu__item';
@import '__link/submenu__link';