.submenu {
  position: absolute;
  margin: 0 10px;
  width: 240px;
  background-color: $black;
  transition: top .3s ease;

  &--level1 {
    top: 296px;
    left: -50%;
    transform: translate(20%, 0);
  }

  &--next-level {
    top: 60px;
    left: 100%;
  }
}

@import '__item/submenu__item';
@import '__link/submenu__link';