.submenu {
  position: absolute;
  //margin: 0 10px;
  width: 240px;
  //background-color: $black;
  -webkit-transition: padding .3s ease;
  -o-transition: padding .3s ease;
  transition: padding .3s ease;
  display: none;
  visibility: hidden;
  outline: 1px solid red;
  //padding: 80px 10px 0;
  padding: 80px 0 0;

  &--level1 {
    //top: 120px;
    left: -50%;
    -webkit-transform: translate(20%, 0);
        -ms-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }

  &--next-level
   {
    top: 110px;
    padding-top: 0 !important;
    left: 100%;
  }

  &--show {
    //padding: 30px 10px 0;
    padding: 30px 0 0;
    display: block;
    visibility: visible;
  }
}

@import '__item/submenu__item';
@import '__link/submenu__link';