.submenu {
  position: absolute;
  margin: 0 10px;
  width: 240px;
  background-color: $black;
  -webkit-transition: top .3s ease;
  -o-transition: top .3s ease;
  transition: top .3s ease;
  display: none;
  visibility: hidden;
  border: 1px solid #fff;

  &--level1 {
    top: 120px;
    left: -50%;
    -webkit-transform: translate(20%, 0);
        -ms-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }

  &--next-level
   {
    top: 60px;
    left: 100%;
  }

  &--show {
    /*top: 96px;*/
    top: 60px;
    display: block;
    visibility: visible;
  }
}

@import '__item/submenu__item';
@import '__link/submenu__link';