.advantage__title {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 15px 0;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;

  &:hover {
    color: $white;
  }
}