mixin article(icon, title, text)
  article
    span
      i(class= icon, aria-hidden="true")
    h5= title
    p= text

section.shell-full.section-color--grey
  div.shell
    h3.section__title.text-uppercase.text-center Simple. Stunning. Smart.
    p.section__main-text.text-center Welcome to the leading company on the market! Our success is driven by the highest quality customer service. We can meet the requirements even of the whimsical clients; there are no complex tasks for us! Thanks for your choice!

    div
      +article('fa fa-mobile', 'FULLY RESPONSIVE', 'Our apps have fully responsive interface and design that allow our users to run our products on any modern device or gadget, with all their functions available on any platform.')
      +article('fa fa-lightbulb-o', 'UNIQUE DESIGN', 'With so many mobile apps being released in such a short period of time, our designers manage to create really catchy and unique designs for our products to stand out.')
      +article('fa fa-clock-o', '24/7 SUPPORT', 'Soft App support center provides full support and essential maintenance to ensure issues you may have are eliminated early and you get the maximum comfort from using our apps.')