mixin whychoose(title, text, icon, dopClass)
  article
    div
      h5= title
      p.text-color--grey(class= dopClass)= text
    div
      span
        i(class= icon, aria-hidden="true")

section.shell-full.section--padding-ud
  div.shell
    h3.section__title.text-uppercase.text-color--grey.text-center Why choose us
    p.section__main-text.text-color--grey.text-center We are focused on providing integrated solutions and services to customers around the world. Putting our clients’ interests first, we work hard to exceed your expectations.

    div.flex-block
      div.flex-block__col3
        +whychoose('Free', 'All our apps are distributed online for free, so you don’t have to pay anything to anyone else to use them.', 'fa fa-unlock-alt', 'text-right')
        +whychoose('GET SMARTER', 'We design our apps with the end user in mind. They also perfectly fit for increasing your technical awareness.', 'fa fa-paper-plane-o', 'text-right')
        +whychoose('CUSTOMER SERVICE', 'Have a question regarding our apps? Contact our customer service department to have it answered today!', 'fa fa-envelope-o', 'text-right')
      div.flex-block__col6.text-center
        figure
          img(src="images/home-2-568x642.png")

      div.flex-block__col3
        +whychoose('GREAT usability', 'We pay a lot of attention to providing a high level of usability to make sure your goals are met by using our products.', 'fa fa-thumbs-o-up', 'text-left')
        +whychoose('SOCIAL', 'Social apps play a great role for many users nowadays, that’s why we are also oriented to this type of applications.', 'fa fa-user-o', 'text-left')
        +whychoose('AMAZING STYLE', 'Want your smartphone to look stylish? There isn’t anything better than apps developed and designed by our company!', 'fa fa-bolt', 'text-left')