section.shell-full.section-bgcolor--grey.section--padding-ud
  div.shell
    div.configurable
      h3.section__title.text-uppercase.text-center Highly configurable products
      a.button.button--primary.text-uppercase.text-center learn more