section.shell-full.section-bgcolor--grey.section--padding-ud
  div.shell
    div.configurable.flex-block.flex-block--align-center
      div.flex-block__col9
        h3.section__title.text-uppercase.text-center Highly configurable products
      div.flex-block__col3
        a.button.button--primary.text-uppercase.text-center learn more