section.shell-full
  div.shell
    div.features
      div
        figure
          img(src="images/home-3-1123x732.png")
      div
        h3.section__title.text-uppercase.text-center Amazing Features
        p.section__main-text.text-center Not all modern apps are made equal but our products have a lot of features that you may find useful.
        div
          +whychoose('Beautiful, modern design', 'Our apps offer our customers responsive and functional design that looks beautiful and modern in comparison with many other products on the market of free apps.', 'fa fa-pie-chart', 'some')
          +whychoose('Easy to set up', 'If you are looking for a specific app with a feature of extensive customization, our apps can become your perfect choice. From changing the look of the interface to installing new modules, we got you covered.', 'fa fa-cog', 'some')
