header.shell-full.section-bgcolor--black
  div.shell
    div.header.flex-block
      div.brand.header__brand.header--height-inner
        a.brand__link(href="#")
          i.fa.fa-eercast.brand__logo.text-color--blue.text--valign-middle(aria-hidden="true")
          span.brand__title.text-bold.text--valign-middle SOFT
          span.brand__title.text-color--blue.text--valign-middle APP
      div.nav__mobile
          span.nav__toggle
      nav.nav.header__nav.header--height-inner
        ul.main-menu
          li.main-menu__item.menu__item.parent
            a.main-menu__link.text-uppercase(href="#") HOME
              span.text-right.menu__toggle
              //i.fa.fa-chevron-down.text-right.menu__toggle(aria-hidden="true")
            ul.submenu.submenu--level1.text-uppercase.section-color--black
              each val in ['history', 'offers']
                li.menu__item.submenu__item
                  a.submenu__link(href="#")= val
              li.menu__item.submenu__item.parent
                a.submenu__link(href="#") News
                  span.text-right.menu__toggle
                ul.submenu.submenu--next-level.text-uppercase.section-color--black
                  each val in ['Fresh', 'New', '404 page']
                    li.menu__item.submenu__item
                      a.submenu__link(href="#")= val

          each val in ["ABOUT", "SERVICES", "BLOG", "CONTACTS"]
            li.main-menu__item.menu__item
              a.main-menu__link.text-uppercase(href="#")= val