header.shell-full.section-bgcolor--black
  div.shell
    div.header.flex-block
      div.brand.header--height-inner
        a.brand__link(href="#")
          i.fa.fa-eercast.brand__logo.text-color--blue.text--valign-middle(aria-hidden="true")
          span.brand__title.text-bold.text--valign-middle SOFT
          span.brand__title.text-color--blue.text--valign-middle APP
      nav.nav.header--height-inner
        ul.main-menu
          li.main-menu__item.menu__item
            a.main-menu__link.text-uppercase.parent(href="#") HOME
              i.fa.fa-chevron-right.text-right(aria-hidden="true")
            ul.submenu.submenu--level1.text-uppercase.section-color--black
              each val in ['history', 'offers']
                li.menu__item.submenu__item
                  a.submenu__link(href="#")= val
              li.menu__item.submenu__item
                a.submenu__link.parent(href="#") News
                  i.fa.fa-chevron-right.text-right(aria-hidden="true")
                ul.submenu.submenu--next-level.text-uppercase.section-color--black
                  each val in ['Fresh', 'New', '404 page']
                    li.menu__item.submenu__item
                      a.submenu__link(href="#")= val
          each val in ["ABOUT", "SERVICES", "BLOG", "CONTACTS"]
            li.main-menu__item.menu__item
              a.main-menu__link.text-uppercase(href="#")= val