mixin price(title, cost, class1, class2, class3, class4)
  div.flex-block__col4
    h5= title
    p= cost
    ul
      li(class= class1) Customization
      li(class= class2) Feedback System
      li(class= class3) Personal Design
      li(class= class4) 24/7 Support
    a.button.button--primary.text-uppercase.text-center Learn more

section.shell-full.section-bgcolor--light-grey.section--padding-ud
  div.shell
    h3.section__title.text-uppercase.text-color--grey.text-center Pricing Packages

    div.pricing.flex-block
      +price('start', '$ 19,99', 'include', 'include', 'disabled', 'disabled')
      +price('NORMAL', '$ 29.99', 'include', 'include', 'include', 'disabled')
      +price('PREMIUM', '$ 49,99', 'include', 'include', 'include', 'include')