mixin price(title, cost, class1, class2, class3, class4)
  div.price.flex-block__col4.text-center
    h5.list__title.text-uppercase.text-color--blue= title
    p.price__cost.text-size--lg= cost
    ul.price__menu.text-color--grey.text-left.text-size--md
      li.price__item(class= class1) Customization
      li.price__item(class= class2) Feedback System
      li.price__item(class= class3) Personal Design
      li.price__item(class= class4) 24/7 Support
    a.button.button--primary.text-uppercase.text-center Learn more

section.shell-full.section-bgcolor--light-grey.section--padding-ud
  div.shell
    h3.section__title.text-uppercase.text-color--grey.text-center Pricing Packages

    div.flex-block
      +price('start', '$ 19,99', 'price__item--enable', 'price__item--enable', 'price__item--disable', 'price__item--disable')
      +price('NORMAL', '$ 29.99', 'price__item--enable', 'price__item--enable', 'price__item--enable', 'price__item--disable')
      +price('PREMIUM', '$ 49,99', 'price__item--enable', 'price__item--enable', 'price__item--enable', 'price__item--enable')