section.shell-full.section-bgcolor--grey.section--padding-ud
  div.shell
    div.range
      div.svg
        svg
        h5 Networking
      div.svg
        svg
        h5 Programming
      div.svg
        svg
        h5 Mobile applications
      div.svg
        svg
        h5 technical support