section.shell-full.section-bgcolor--grey.section--padding-ud
  div.shell
    div.range.flex-block
      div.svg.flex-block__col3
        svg
        h5 Networking
      div.svg.flex-block__col3
        svg
        h5 Programming
      div.svg.flex-block__col3
        svg
        h5 Mobile applications
      div.svg.flex-block__col3
        svg
        h5 technical support