section.shell-full
  div.shell
    div.subscribe
      h3 Subscribe to our newsletter
      p Get useful tips, app updates and resources straight into your inbox.
      div
        input(type="text", placeholder="enter your email")
        button subscribe
