section.shell-full.section--padding-ud
  div.shell
    div.subscribe.text-center
      h3.section__title.text-uppercase.text-center.text-color--blue Subscribe to our newsletter
      p.section__main-text.text-center.text-color--grey Get useful tips, app updates and resources straight into your inbox.
      div
        input(type="text", placeholder="enter your email")
        button.button.button--primary.text-uppercase.text-center subscribe
