.button {
  padding: 14px 39px 10px 39px;
  border: 1px solid #000;
  font-weight: 400;
  
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;

  &--primary {
    background-color: $blue;
    border: none;
    border-bottom: 3px solid $dark_blue;

    &:hover {
      background-color: $dark_blue;
    }
  }

}