.submenu__item {
  display: list-item;
  width: 100%;
  line-height: 1.2rem;
  //margin: 15px;
  padding: 10px 15px;
  background-color: $black;
  border-left: 7px solid $blue;
  border-right: 7px solid $blue;
}