@mixin column($col, $margin: 15px) {
  /*flex: 1 1 calc(100% / #{$col} - 30px);*/
  /*flex: 1 1 calc(100% / #{$col} - #{$margin} * 2);*/
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 calc(100% * (#{$col} / #{$grid_columns}) - #{$margin} * 2);
      -ms-flex: 1 1 calc(100% * (#{$col} / #{$grid_columns}) - #{$margin} * 2);
          flex: 1 1 calc(100% * (#{$col} / #{$grid_columns}) - #{$margin} * 2);
}

.flex-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*align-items: center;*/
  
  &--align {
    &-center {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
    &-top {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  }
  
  &__col1,
  &__col2,
  &__col3,
  &__col4 {
    margin: 0 15px;
  }

  &__col1 {
    @include column(1);
  }
  &__col2 {
    @include column(2);
  }
  &__col3 {
    @include column(3);
  }
  &__col4 {
    @include column(4);
  }
  &__col5 {
    @include column(5);
  }
  &__col6 {
    @include column(6);
  }  
  &__col7 {
    @include column(7);
  }
  &__col8 {
    @include column(8);
  }
  &__col9 {
    @include column(9);
  }
  &__col10 {
    @include column(10);
  }  
  &__col11 {
    @include column(11);
  }
  &__col12 {
    @include column(12);
  } 

  &__col--margin-lg {
    margin: 0 30px;
    @include column(3, '30px');
  }

  &--order-first {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  &--order-last {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.no-gutters > [class*="flex-block__col"] {
  margin: 0 0;
}

@include mq(991px) {
  .flex-block__col {
    @include column(5);
  }
}

@include mq(767px) {
  .flex-block__col {
    @include column(12);
  }
}

