@mixin section-padding-up-down($up, $down) {
  padding: $up 0 $down;
}

.section {
  &__title {
    font-size: 3rem;
    font-weight: 300;
  }

  &__main-text {
    font-size: 1.5rem;
    margin: 30px 0 45px;
  }

  &-bgcolor--black {
    background-color: $black;
  }
  &-bgcolor--blue {
    background-color: $blue;
  }
  &-bgcolor--grey {
    background-color: $grey;
  }
  &-bgcolor--light-grey {
    background-color: $light_grey;
  }

  &--padding-ud {
    @include section-padding-up-down(65px, 65px);
  }
}

@media all and (max-width: 991px) {
  .section {
    @include section-padding-up-down(60px, 60px); 
  }
}