.shell-full {
  /*position: relative;*/
  margin-left: auto;
  margin-right: auto;
}

.shell {
  width: 80%;
  /*width: 80vw;*/
  margin: 0 auto;
}

@include mq(991px) {
  .shell {
    width: 90%;
  }
}