@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,700';

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #fff;
}

.text {
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }

  &-size--xl {
    font-size: 3.5rem !important;
  }
  &-size--lg {
    font-size: 3rem !important;
  }
  &-size--md {
    font-size: 1.3rem !important;
  }
  &-size--sm {
    font-size: .9rem;
    line-height: 1.5rem;
  }

  &-bold {
    font-weight: 700;
  }
  &-light {
    font-weight: 300;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-color--blue {
    color: $blue;
  }
  &-color--grey {
    color: $grey;
  }
  &-color--white {
    color: $white;
  }

  &--valign-middle {
    vertical-align: middle;
  }
}