.text {
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }

  &-size--xl {
    font-size: 3.5rem !important;
  }

  &-size--sm {
    font-size: .9rem !important;
  }

  &-bold {
    font-weight: 700;
  }
  &-light {
    font-weight: 300;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-color--blue {
    color: $blue;
  }
  &-color--grey {
    color: $grey;
  }

  &--valign-middle {
    vertical-align: middle;
  }
}