.social-menu__item {
  margin: 0 25px;
}

@include mq(620px) {
  .social-menu__item {
    margin: 0 14px;
  }
}

@include mq(431px) {
  .social-menu__item {
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}


@include mq(291px) {
  .social-menu__item {
    margin: 0 12px;
  }
}

@include mq(271px) {
  .social-menu__item {
    margin: 0 8px;
  }
}

@include mq(244px) {
  .social-menu__item {
    margin: 0 6px;
  }
}